/* 
COLORS 
#011627 - almost black
#e6e6e6 - almost white
#2EC4B6 - aqua blue
#244c62 - dark grayish blue
#d1d2d3 - light gray
*/

/* Global styles
----------------------------------------*/
/* border box fix */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: #011627;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', 'Gill Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
img {
    width: 300px;
    border-radius: 4px;
}
a {
    color: #e6e6e6;
}
a:hover {
    background: #e6e6e6;
    color: #011627;
    text-decoration: none;
}
h1 {
    font-size: 70px;
    background: -webkit-linear-gradient(#2EC4B6, #244c62);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 { 
    margin: 0;
    font-size: 35px;
}
h1, h2 {
    font-family: 'Alfa Slab One', 'Rockwell Extra Bold', 'Lucida Bright', serif;
    margin: 0;
    font-weight: normal;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Profile
----------------------------------------*/
header {
    color: #011627;
    background: #d1d2d3;
}

/* Projects
----------------------------------------*/
.projects {
    background: #e6e6e6;
}
.projects .btn {
    color: #e6e6e6;
    background: #011627;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover {
    background: #2EC4B6;
    color: #011627;
}
.project-item {
    overflow: hidden;
    border-bottom: 5px dotted #d1d2d3;
    padding: 25px 0;
}
.project-item img {
    float: right;
}
.project-item h3 {
    margin-top: 0;
}
.img-container {
    width: 300px;
}
.text-container {
    width: 480px;
    margin-right: 20px;
}
.img-container, .text-container {
    float: right;
}

/* Education
----------------------------------------*/
.education {
    background: #d1d2d3;
}


/* Contact Info
----------------------------------------*/
footer {
    color: #d1d2d3;
    background: #011627;
}
footer ul {
    list-style-type: none;
    padding-left: 0;
}